<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-secondary'>

    <div class='container container-fluid bg-dark text-white mb-2 p-3'>
      <h1 class='p-4 mb-3 text-center'>Restaurants</h1>
      <%= yield %>
    </div>

  </body>
</html>
